
/* For Contact.HTML */
#Contact {
    background-image: url(/images/contact.jpg);
    /* background-color: #e2dad6; */
    font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
    margin: 0px;
}

h1{
    text-align: center;
}
.navbar {
    display: flex;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    color: white;
    position: r;
}
.navbar img {
    height: 40px;
    margin-right: 20px;
}
.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 16px;
}
.navbar a:hover {
    background-color: #575757;
    border-radius: 5px;
}
.dropbtn{
    border: none;
    background-color: #333;
    color: white;
    font-size: large;
}
.content{
    display: none;
  position: absolute;
  /* background-color: #f1f1f1; */
  min-width: 160px;
  box-shadow: 10px 8px 16px 10px rgba(0,0,0,0.2);
}
.content a {
    background-color: #585858;
    padding: 12px 16px;
    display: block;
}
.dropdown:hover .content{
    display: block;
}
.content a:hover{
    background-color: #7f7d71;
    /* box-shadow: 0px 10px 10px 0px rgb(255, 255, 255); */
}
.login-button {
    margin-left: auto;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.login-button:hover {
    background-color: #45a049;
}
#form {
    width: 30%;
    margin: 5% auto;
    background-color: #c2c2c0;
    padding: 20px 70px 70px 70px;
    border-radius: 50px;
    backdrop-filter: blur(5px); 
    box-shadow: 5px 10px 10px 5px rgba(0, 0, 0, 0.2), 5px 6px 20px 5px rgba(0, 0, 0, 0.19);
}

input{
    /* position: absolute; */
    right: 50px;
    font-weight: bolder;
    width: 95%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
}
label{
    font-weight: bolder;
    padding: 5px;
    margin-top: 10px;
}
select{
    width: 100%;
    padding: 10px;
    /* Position:absolute; */
    border-radius: 10px;
    margin-top: 10px;
    right: 50px;
}
textarea{
    margin-top: 10px;
    border-radius: 20px;
    padding: 4%;
    width: 92%;
}
.submit{
    position: relative;
    margin:auto 50% ;
    width: 20%;
}
.submit:hover{
    background-color: lightslategray;
}
fieldset{
    font-weight: bolder;
    border: 1px black solid;
    width: 95%;
    border-radius: 20px;
}
fieldset input{
    /* position: relative; */
    right: 0;
    width: auto;
}